<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DS3</title>
</head>
<body>
    <h1>Hello Guys we have to code here</h1>
    <form name="Test  " action="." method="post">
        <label>acc_max</label>
        <input type="text" name="acc_max" id="acc_max">
        <label>gyro_max</label>
        <input type="text" name="gyro_max" id="gyro_max">
        <label>acc_kurtosis</label>
        <input type="text" name="acc_kurtosis" id="acc_kurtosis">
        <label>gyro_kurtosis</label>
        <input type="text" name="gyro_kurtosis" id="gyro_kurtosis">
        <label>lin_max</label>
        <input type="text" name="lin_max" id="lin_max">
        <label>acc_skewness</label>
        <input type="text" name="acc_skewness" id="acc_skewness">
        <label>gyro_skewness</label>
        <input type="text" name="gyro_skewness" id="gyro_skewness">
        <label>post_gyro_max</label>
        <input type="text" name="post_gyro_max" id="post_gyro_max">
        <label>post_lin_max</label>
        <input type="text" name="post_lin_max" id="post_lin_max">
        <input type="submit" value="submit">
       

    </form>
</body>
</html>