<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        input{
            margin : 10px;
        }
    </style>
    <title>DS3</title>
</head>
<body>
    <h1 style="width: fit-content; margin: auto; ">HUMAN ACTIVITY DETECTOR</h1>
    <form name="Test  " action="." method="post" style="margin: auto ; border: solid 1px black ; border-radius: 5px; text-align: center; padding: 5%; width: fit-content; margin-top: 100px;">
        <label>acc_max</label>
        <input type="text" name="acc_max" id="acc_max" >
        <br>
        <label>gyro_max</label>
        <input type="text" name="gyro_max" id="gyro_max">
        <br>
        <label>acc_kurtosis</label>
        <input type="text" name="acc_kurtosis" id="acc_kurtosis">
        <br>
        <label>gyro_kurtosis</label>
        <input type="text" name="gyro_kurtosis" id="gyro_kurtosis">
        <br>
        <label>lin_max</label>
        <input type="text" name="lin_max" id="lin_max">
        <br>
        <label>acc_skewness</label>
        <input type="text" name="acc_skewness" id="acc_skewness">
        <br>
        <label>gyro_skewness</label>
        <input type="text" name="gyro_skewness" id="gyro_skewness">
        <br>
        <label>post_gyro_max</label>
        <input type="text" name="post_gyro_max" id="post_gyro_max">
        <br>
        <label>post_lin_max</label>
        <input type="text" name="post_lin_max" id="post_lin_max">
        <br>
        <input type="submit" value="Test it!">
       

    </form>
</body>
</html>