<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solution</title>
</head>
<body>
  <p class="box" style="text-align: center ; box-sizing: border-box; border: 1px 1px 1px 1px aliceblue;">  Person is in
    {{p}} mode
    <br>
    and the {{p}} mode is 
    {{q}}</p><br>
    <p><h2 style="width:fit-content ; margin: auto;">MEET THE TEAM:</h2>
    <div class="team" style="width:fit-content ; margin: auto;">
    1. Satyam Patil
    <br>
    2. Ayush Gupta
    <br>
    3. Radhika 
    <br>
    4. Jigyasa
    <br>
    5. Anisha
    <br>
    6. Shalini
    </div>
</p>
</body>
</html>